*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}

form{
    padding-left:600px;
    padding-top:250px;
}

form input{
    padding:5px 10px 5px 10px;
    margin:10px;
}
button{
    padding:5px 10px 5px 10px ;
    margin-left:65px;
    margin-top:10px;
}